body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F6FEFB;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: #f2a1c7;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    height: 50vh;
}
